@charset "utf-8";
/* CSS Document */

#corpoSite{
	width:100%;
	height:100%;
	text-align:center;
}
#conteudoSite{
	width:80%;
	margin:0 auto;
}
#topo{
	background:url(../img/cabecalho.png) no-repeat;
	width:100%;
	height:220px;
}
.alinhaRedeSociais{
	float:right;
	margin-right:16px;
}
.menuRedeSociais{
	list-style:none;
}
.menuRedeSociais a{
	color:#FFF;	
	font-family:MyriadPro-Cond;
}
.menuRedeSociais a:hover{
	color:#FFF;
}
#menuSite{
	float:right;
	width:100%;
}
.menu{
	display: inline;
	list-style:none;
	color:#FFF;
	font-family:MyriadPro-Cond;
	letter-spacing: 0.7px;
}
.menu a{
	color:#FFF;
	font-family:MyriadPro-Cond;
}
.menu a:hover{
	color:#FFF;
	font-family:MyriadPro-Cond;
	text-decoration:underline;
}
.tituloBold{
	font-family:Nexa Bold;
	font-size:30px;
	color:#1E4370;
	padding-bottom:30px;
}
.tituloLight{
	font-family:Nexa Light;
	font-size:30px;
	color:#1E4370;
}
.subTitulo{
	font-family:Nexa Light;
	font-weight:bold;
	font-size:15px;
	color:#666;
	padding-bottom:30px;
}
.tituloBoldSaibaMais{
	font-family:Nexa Bold;
	font-size:30px;
	color:#1E4370;
	float:left;
}
.tituloLightSaibaMais{
	font-family:Nexa Light;
	font-size:25px;
	color:#1E4370;
	float:left;
}
.tituloLightPequeno{
	font-family:Nexa Light;
	background-image: linear-gradient(to right, #F5F5F5, #1E4370,#1E4370,#1E4370,#1E4370,#1E4370,#1E4370,#1E4370,#1E4370, #F5F5F5);
	background-color:#1E4370;
	color:#fff;
}
.naoHaresultadoBusca{
	font-style:italic;
	font-family:Nexa Bold;
	text-align:left;
	list-style:none;
}
.fundoCinzaClaro{
	background-color:#F5F5F5;
}
.subTituloSaibaMais{
	font-family:Nexa Light;
	font-weight:bold;
	font-size:15px;
	color:#666;
	float:left;
	padding-bottom:20px;
}
.tituloCategoria{
	font-family:Nexa Bold;
	font-size:20px;
	color:#1E4370;
	border-left:2px solid #1E4370;
	text-align:left;
}
.imgPrincipal{
	max-width:100%;
}
.backgroundPesquisa{
	background:#CCC;
	border-radius:10px;
}
.inputPesquisa{
	background:#fff;
	border:none;
	max-width:100%;
	width:100%;
	border:1px #FFF solid;
	border-radius:10px;
	margin:5px 0;
}
.paddingBottom{
	padding-bottom:30px;
}
.letraVerde{
	color:#32A457;
}
.semBorda{
	border:none;
}
.escondeDiv{
	display:none;
}
.larguraCemPorCento{
	width:100%;
}
.alturaImgSelo{
	height:52px;
}
.imgFooter{
	max-width:100%;
}
.setaTocidometro{
	font-weight:bold;
	font-size:36px;
}
/*início torcidômetro abas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5;
}
body {
  background: #fff;
}
a:focus {
  outline: none;
}
.content {
  margin: 30px;
}
.clearfix:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.tabs-content {
  background: #fff;
  font-family: sans-serif;
  width:auto;
}
.tabs-menu {
  background: #0C3F6E;
  width:253px;
  border:#0C3F6E 1px solid;
}
.tabs-menu ul {
   list-style: none;
}
.tabs-menu ul li {
  float: left;
}
.tabs-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
}
.tabs-menu ul li a:hover {
	text-decoration:underline;
}
.tabs-menu ul li a.active-tab-menu {
  background: #eee;
  color: #000;
  text-decoration:underline;
}
.tabs {
  display: none;
  padding: 30px;
}
.first-tab {
  display: block;
}
/*fim abas torcidômetro*/
/*------------------------------------*/
/*form não logado*/
.caixa {
	    background: #1b416c;
	    border-radius: 5px;
	}
.box1 {
	    background: #ffffff;
	    margin-bottom: 2%;
	    font-size: 16px;
	    text-align: left;
	    color: #666666;
	    padding: 6px 16px;
	    border-radius: 5px;
	}	
.register-box {
	display: inline-block;
	width: 300px;
	vertical-align: top;
    margin:-10px 36px 0 0;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 979px) {
	.register-box {
		display: inline-block;
		width:auto;
		vertical-align: top;
		margin:0 -10px 0 0;
		text-align: center;
	}
}
@media (max-width: 767px) {
	.register-box {
		display: inline-block;
		width:auto;
		vertical-align: top;
		margin:0 -10px 0 0;
		text-align: center;
	}
}
@media (max-width: 480px) {
	.register-box {
		display: inline-block;
		width:auto;
		vertical-align: top;
		margin:0 0 0 23px;
		text-align: center;
	}
}
	.register-box-title {
		color: #FFF;
		font-family: Nexa Light;
    	font-size: 20px;
    	margin-bottom: 25px;
	}
	.register-box-txt {
		color: #FFF;
		font-family: Nexa Light;
    	font-size: 11px;
		margin:-10px 0 0 0;
	}
	.caixa {
	    margin-top: 3%;
	    background: #1b416c;
	    padding: 8px 8px 8px 8px;
	    border-radius: 5px;
	}
	.box1 {
	    background: #ffffff;
	    margin-bottom: 2%;
	    font-size: 12px;
	    text-align: left;
	    color: #666666;
	    padding: 6px 0 0 6px;
	    border-radius: 5px;
		width:283px;
	}
	.box2 {
	    background: #ffffff;
	    margin-bottom: 2%;
	    font-size: 12px;
	    text-align: left;
	    color: #666666;
	    padding: 6px 0 0 6px;
	    border-radius: 5px;
		width:140px;
	}
	.box3 {
	    background: #ffffff;
	    margin-bottom: 2%;
	    font-size: 12px;
	    text-align: left;
	    color: #666666;
	    padding: 6px 0 0 6px;
	    border-radius: 5px;
		width:100%;
		height:32px;
	}
.errorList{
	font-family: Nexa Light;
	letter-spacing:1px;
	color:#FFF;
	background-color:#0D2035;
}
.errorList ul{
	list-style:inside;
}
.bordaBox{
	border:1px solid #CCC;
	border-radius:10px;
}
/*importacao fontes*/
@font-face {
      font-family: MyriadPro-Cond;
      src: url("../fonte/MyriadPro-Cond.otf") format("opentype");
}
@font-face {
      font-family: Nexa Bold;
      src: url("../fonte/Nexa Bold.otf") format("opentype");
}
@font-face {
      font-family: Nexa Light;
      src: url("../fonte/Nexa Light.otf") format("opentype");
}
/*fim importacao fontes*/
#footer{
	width:100%;
	margin:0 0 -40px 0;
}	
.space{
	height:50px;
}
.required{
	font:Verdana, Geneva, sans-serif;
	color:#F00;
	font-weight:bold;
}
.alinhaCamposLeft{
	text-align:left;
}
.alinhaCamposRight{
	text-align:right;
}
.alinhaCamposCenter{
	text-align:center;
}
.configIframe{
	max-width:100%;
	max-height:100%;
	width:100%;
	height:395px;
	border:none;
}
.configIframeMsgSucesso{
	max-width:100%;
	max-height:100%;
	width:100%;
	height:300px;
	border:none;
}
.modalFullScreen{
	max-width:100%;
	max-height:100%;
	width:100%;
}
#myCarouselNaoLogada{
	float:left;
	width:74%;
}
@media (max-width: 767px) {
	#myCarouselNaoLogada{
	float:left;
	width:100%;
	margin:0 0 0 15px;
	}	
}
@media (max-width: 480px) {
	#myCarouselNaoLogada{
	float:left;
	width:100%;
	margin:0 0 0 15px;	
	}
}