@charset "utf-8";
/* CSS Document */

#corpoSite {
	width:100%;
	height:100%;
	text-align:center;
	overflow: hidden; 
}
#conteudoSite {
	width:80%;
	margin:0 auto;
}

#topo {
	height: 16vw;
	max-height: 412px;
	background:url(../img/cabecalho.png) no-repeat;
	background-position: -130px 0;
}

@media (min-width: 992px) {
	#topo {
		background-size: cover;
	}
}

@media (min-width: 1200px) {
	#topo {
		background-position: 0 0;
		background-size: cover;
	}
}


.boxuser { float: right; }
.loginuser,
.menuRedeSociais { display: inline-block; }

.loginuser,
.loginuser a { color: #fff; }

.loginuser a {
	margin-left: 5px;
	padding-left: 5px;
	border-left: solid 1px #ffffff;
}

.loginuser { text-transform: uppercase;	}

/* Menu social */
.menuRedeSociais {
	list-style:none;
	text-align: right;
}

.menuRedeSociais li { 
	display: inline-block;
}

.menuRedeSociais a {
	color:#FFF;
	font-family:MyriadPro-Cond;
}
.menuRedeSociais a:hover {
	color:#FFF;
}

/* Menu site */

.menu {
	clear: both;
	list-style:none;
	color:#FFF;
	font-family:MyriadPro-Cond;
	letter-spacing: 0.7px;
	text-align: right;
}

.menu li {
	display: inline-block;
	margin-left: 10px;
}

.menu a {
	color:#FFF;
	font-family:MyriadPro-Cond;
}
.menu a:hover {
	color:#FFF;
	font-family:MyriadPro-Cond;
	text-decoration:underline;
}

/* Menu mobile */

.menu-mobile { text-align: right; }

.menu-mobile .btn.collapsed { 
	background-color: transparent;
	color: #ffffff;
	border: solid 1px white;
} 

.menu-mobile .btn { 
	color: #232f54;
	background-color: #ffffff;
	border-color: transparent;
}

@media (max-width:767px) {
	.menu-mobile .btn { 
		margin: 47px 15px 45px 0;
	}
}

@media (max-width:400px) {
	.menu-mobile .btn { 
		margin: 130px 15px 20px 0;
	}
}

@media (min-width: 768px) {
	.menu-mobile .btn { 
		margin: 47px 15px 45px 0;
	 }
}

.menu-mobile .btn i { font-size: 25px; } 

.menu-mobile .well {
	background: #232f54;
	border-color: transparent;
	border-top: solid 1px #000;
}

.menu-mobile ul li {
	display: block;
	margin: 15px 0;
	text-align: center;
}

.menu-mobile ul li:first-child { margin-top: 0; }


.alinhaRedeSociais {
	float:right;
	margin-right:16px;
}

.tituloBold {
	font-family:Nexa Bold;
	font-size:30px;
	color:#1E4370;
	padding-bottom:30px;
}
.tituloLight {
	font-family:MyriadPro-Cond;
	font-size:30px;
	color:#1E4370;
}
.subTitulo {
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:15px;
	color:#666;
	padding-bottom:30px;
}
.tituloBoldSaibaMais {
	font-family:Nexa Bold;
	font-size:30px;
	color:#1E4370;
	float:left;
}
.tituloLightSaibaMais {
	font-family:MyriadPro-Cond;
	font-size:25px;
	color:#1E4370;
	float:left !important;
}
.tituloLightPequeno {
	font-family:MyriadPro-Cond;
	font-size:22px;
	/*background-image: linear-gradient(to right, #F5F5F5, #1E4370, #1E4370, #1E4370, #1E4370, #1E4370, #1E4370, #1E4370, #1E4370, #F5F5F5);*/
	background-color:#1E4370;
	color:#fff;
	width:170px;
	margin:0 auto;
}
.classificacaoTorcidometro {
	font-family:Nexa Bold;
	font-size:30px;
	color:#1E4370;
}
.naoHaresultadoBusca {
	font-style:italic;
	font-family:Nexa Bold;
	text-align:left;
	list-style:none;
}
.fundoCinzaClaro {
	background-color:#F5F5F5;
}
.subTituloSaibaMais {
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:15px;
	color:#666;
	float:left;
	padding-bottom:20px;
}
.barraTituloCategoria {
	border-left:2px solid #1E4370;
	text-align:left;
}
.tituloCategoria {
	font-family:Nexa Bold;
	font-size:20px;
	color:#1E4370;
	text-align:left;
	padding-left:3px;
}
.imgPrincipal {
	width:945px;
	height:365px;
	max-width:100%;
}
.backgroundPesquisa {
	background:#CCC;
	border-radius:10px;
}
.inputPesquisa {
	background:#CCC;
	border:none;
	max-width:100%;
	width:100%;
	/*border:1px #FFF solid;
	border-radius:10px;*/
	margin:5px 0;
	font-size:16px;
}
.paddingBottom {
	padding-bottom:30px;
}
.letraVerde {
	color:#32A457;
}
.semBorda {
	border:none;
}
.escondeDiv {
	display:none;
}
.larguraCemPorCento {
	width:100%;
}
.alturaImgSelo {
	height:60px;
}
.alturaBtParticipe {
	height:46px;
}
.alturaDescricaoDesconto {
	height:80px;
}
.alturaTituloDesconto {
	height:50px;
}
.alturaDescricaoContExclusivo {
	height:130px;
}
.fonteMyriad{
	font-family: MyriadPro-Cond;
}
.fonteMyriadTexto{
	font-family: MyriadPro-Cond;
	font-size:17px;
}
.maximoTamanho {
	max-width:100%;
}
.setaTocidometro {
	font-weight:bold;
	font-size:36px;
}
.tamanhoFixo1 {
	width: 180px;
	height: 200px;
}
.tamanhoFixo2 {
	width: 230px;
	height: 200px;
}
.tamanhoFixo3 {
	width: 55px;
	height: 45px;
}
.tamanhoFixo4 {
	width: 53px;
	height: 54px;
}
.fundoInput {
	background-color: #E4E4E4;
	border: none;
}
.tablePadding {
	padding:0 0 10px 10px;
}
.btMaior{
	padding:15px;
}
.corLink{
	color: #666;
	text-decoration:underline;
	font-family:MyriadPro-Cond;
	font-size:20px;
}
/*início torcidômetro abas*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.5;
}
body {
	background: #fff;
}
a:focus {
	outline: none;
}
.content {
	margin: 30px;
}
.clearfix:after {
	content: '.';
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.tabs-content {
	background: #fff;
	font-family: sans-serif;
	width:auto;
}
.tabs-menu {
	background: #0C3F6E;
	width:245px;
	border:#0C3F6E 1px solid;
	border-radius:5px;
}
.tabs-menu ul {
	list-style: none;
}
.tabs-menu ul li {
	float: left;
	width:50%;
}
.tabs-menu ul li a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #666;
	font-size:14px;
}
.tabs-menu ul li a:hover {
	text-decoration:underline;
}
.tabs-menu ul li a.active-tab-menu {
	background: #225388;
	color: #FFF;
	font-size:14px;
}
.tabs {
	display: none;
	padding:30px 0;
}
.first-tab {
	display: block;
}
.backgroundPrograma {
	text-align:left;
	background:url(../img/bannerPrograma/banner1Programa.png);
	padding:40px;
	color:#FFF;
}
/*fim abas torcidômetro*/
/*------------------------------------*/
/*form não logado*/
.caixa {
	background: #1b416c;
	border-radius: 5px;
}
.box1 {
	background: #ffffff;
	margin-bottom: 2%;
	font-size: 16px;
	text-align: left;
	color: #666666;
	padding: 6px 16px;
	border-radius: 5px;
}
.register-box {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	margin:-10px 36px 0 0;
	text-align: center;
}
@media (max-width: 1024px) {
.register-box {
	display: inline-block;
	width: 35%;
	vertical-align: top;
	margin:90px 36px 0 0;
	text-align: center;
}
}
@media (min-width: 768px) and (max-width: 979px) {
 .register-box {
 display: inline-block;
 width:auto;
 vertical-align: top;
 margin:0 -10px 0 0;
 text-align: center;
}
}
@media (max-width: 767px) {
 .register-box {
 display: inline-block;
 width:auto;
 vertical-align: top;
 margin:0 -10px 0 0;
 text-align: center;
}
}
@media (max-width: 480px) {
 .register-box {
 display: inline-block;
 width:95%;
 vertical-align: top;
 margin:0 0 0 2px;
 text-align: center;
}
}
.register-box-title {
	color: #FFF;
	font-family: Nexa Light;
	font-size: 15px;
	margin-bottom: 25px;
}
.register-box-txt {
	color: #FFF;
	font-family: MyriadPro-Cond;
	font-size: 14px;
	margin:-10px 0 0 0;
}
.caixa {
	margin-top: 3%;
	background: #1b416c;
	padding: 8px 8px 24px 8px;
	border-radius: 5px;
}
.box1 {
	background: #ffffff;
	margin-bottom: 2%;
	font-size: 12px;
	text-align: left;
	color: #666666;
	padding: 6px 0 0 6px;
	border-radius: 5px;
	width:283px;
}
.box2 {
	background: #ffffff;
	margin-bottom: 2%;
	font-size: 12px;
	text-align: left;
	color: #666666;
	padding: 6px 0 0 6px;
	border-radius: 5px;
	width:140px;
}
.box3 {
	background: #ffffff;
	margin-bottom: 2%;
	font-size: 12px;
	text-align: left;
	color: #666666;
	padding: 6px 0 0 6px;
	border-radius: 5px;
	width:100%;
	height:32px;
}
.errorlist {
	font-family: MyriadPro-Cond;
	letter-spacing:1px;
	color:#FFF;
	background-color:#0D2035;
}
.errorlist ul {
	list-style:inside;
}
.bordaBox {
	border:1px solid #CCC;
	border-radius:10px;
}
.textoJustificado{
	text-align:justify;
}
/*importacao fontes*/
@font-face {
 font-family: MyriadPro-Cond;
 src: url("../fonte/MyriadPro-Cond.otf") format("opentype");
}
@font-face {
 font-family: Nexa Bold;
 src: url("../fonte/Nexa Bold.otf") format("opentype");
}
@font-face {
 font-family: Nexa Light;
 src: url("../fonte/Nexa Light.otf") format("opentype");
}
/*fim importacao fontes*/
#footer {
	max-width:100%;
	/*margin:0 0 -40px 0;*/
}
.imgFooter {
	max-width:100%;
}
.space {
	height:50px;
}
.required {
	font:Verdana, Geneva, sans-serif;
	color:#F00;
	font-weight:bold;
}
.alinhaCamposLeft {
	text-align:left;
}
.alinhaCamposRight {
	text-align:right;
}
.alinhaCamposCenter {
	text-align:center;
}
.configIframe {
	max-width:100%;
	max-height:100%;
	width:100%;
	height:395px;
	border:none;
}
.configIframeMsgSucesso {
	max-width:100%;
	max-height:100%;
	width:100%;
	height:300px;
	border:none;
}
.modalFullScreen {
	max-width:100%;
	max-height:100%;
	width:100%;
}
#myCarousel{
	width:100%;
	margin:0 auto;
}
/*#myCarouselNaoLogada {
	float:left;
	width:75%;
}*/
@media (min-width: 1025px) {
 #myCarouselNaoLogada {
 float:left;
 width:63%;
  margin:0 0 0 15px;
}
}
@media (max-width: 767px) {
 #myCarouselNaoLogada {
 float:left;
 width:100%;
 margin:0 0 0 15px;
}
}
@media (max-width: 480px) {
 #myCarouselNaoLogada {
 float:left;
 width:90%;
 margin:0 0 0 15px;
}
}
/*customização carrossel - index logada e não logada- fundo cinza lateral*/
.fonteBrancaLogadaNaoLogada {
	color:#fff !important;
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:33px;
	text-shadow: black 0.1em 0.1em 0.2em;}
.fonteBrancaLogadaNaoLogada a{
	color:#fff !important;
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:33px;
	text-shadow: black 0.1em 0.1em 0.2em
	text-decoration:none;
}
.fonteBrancaLogadaNaoLogada a:hover{
	color:#fff !important;
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:33px;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration:none;
}
.fonteBrancaTxt {
	font-family:MyriadPro-Cond;
	font-size:20px;
	font-weight:bold;
	color:#fff !important;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration:none;
	padding-top:10px;
	letter-spacing:1px;
}
.fonteBrancaTxt a {
	font-family:MyriadPro-Cond;
	font-size:20px;
	font-weight:bold;
	color:#fff !important;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration:none;
	padding-top:10px;
}
.fonteBrancaTxt a:hover{
	font-family:MyriadPro-Cond;
	font-size:20px;
	font-weight:bold;
	color:#fff !important;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration:none;
	padding-top:10px;
}
.tamanhoTitBanner{
	width:600px;
	height:35px;
}
.tamanhoTxtBanner{
	width:600px;
	height:35px;
}
.fundoBannerTransparente{
	background-image:url(../img/fundoTransparenteCarrossel.png);
	/*width:1085px;*/
	width:100%;
	height:120px;
	padding:0 0 0 30px;
	margin:-5px 0;
}
 @media (min-width: 1200px) {
.carousel-captionIndex {
 position: absolute;
 z-index: 10;
/* padding: 170px 10px 0 10px;*/
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
 .carousel-captionIndex2 {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
/*.carousel-indicatorsIndex {
 position: absolute;
 bottom: 10px;
 left: 50%;
 z-index: 15;
 width: 60%;
 padding-left: 0;
 margin-left: -30%;
 text-align: center;
 list-style: none;
}
.carousel-indicatorsIndex li {
 display: inline-block;
 width: 10px;
 height: 10px;
 margin: 1px;
 text-indent: -999px;
 cursor: pointer;
 background-color: #000 \9;
 background-color: #999;
 border: 1px solid #999;
 border-radius: 10px;
}
.carousel-indicatorsIndex .active {
 width: 12px;
 height: 12px;
 margin: 0;
 background-color: #666;
}*/
}
 @media (min-width: 1024px) {
.carousel-captionIndex {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 padding-bottom: 20px;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
.carousel-captionIndex2 {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
/*.carousel-indicatorsIndex {
 position: absolute;
 bottom: 10px;
 left: 50%;
 z-index: 15;
 width: 60%;
 padding-left: 0;
 margin-left: -30%;
 text-align: center;
 list-style: none;
}
.carousel-indicatorsIndex li {
 display: inline-block;
 width: 10px;
 height: 10px;
 margin: 1px;
 text-indent: -999px;
 cursor: pointer;
 background-color: #000 \9;
 background-color: #999;
 border: 1px solid #999;
 border-radius: 10px;
}
.carousel-indicatorsIndex .active {
 width: 12px;
 height: 12px;
 margin: 0;
 background-color: #666;
}*/
}
 @media (min-width: 768px) and (max-width: 979px) {
.carousel-captionIndex {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
.carousel-captionIndex2 {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
/*.carousel-indicatorsIndex {
 position: absolute;
 bottom: 10px;
 left: 50%;
 z-index: 15;
 width: 60%;
 padding-left: 0;
 margin-left: -30%;
 text-align: center;
 list-style: none;
}
.carousel-indicatorsIndex li {
 display: inline-block;
 width: 10px;
 height: 10px;
 margin: 1px;
 text-indent: -999px;
 cursor: pointer;
 background-color: #000 \9;
 background-color: #999;
 border: 1px solid #999;
 border-radius: 10px;
}
.carousel-indicatorsIndex .active {
 width: 12px;
 height: 12px;
 margin: 0;
 background-color: #666;
}*/
}
 @media (max-width: 480px) {
.carousel-captionIndex {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
.carousel-captionIndex2 {
 position: absolute;
 z-index: 10;
 padding: 170px 0;
 color: #fff;
 text-align: left;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 height:20%;
 width:100%;
 margin:200px 0;
}
/*.carousel-indicatorsIndex {
 position: absolute;
 bottom: 10px;
 left: 50%;
 z-index: 15;
 width: 60%;
 padding-left: 0;
 margin-left: -30%;
 text-align: center;
 list-style: none;
}
.carousel-indicatorsIndex li {
 display: inline-block;
 width: 10px;
 height: 10px;
 margin: 1px;
 text-indent: -999px;
 cursor: pointer;
 background-color: #000 \9;
 background-color: #999;
 border: 1px solid #999;
 border-radius: 10px;
}
.carousel-indicatorsIndex .active {
 width: 12px;
 height: 12px;
 margin: 0;
 background-color: #666;
}*/
}

/*customização carrossel fundo cinza lateral*/
.fonteAzul {
	color:#1E4370;
	font-family:MyriadPro-Cond;
	font-weight:bold;
	font-size:2.5em;
	text-shadow:none;
}
.fonteCinza {
	font-family:MyriadPro-Cond;
	font-size:1.5em;
	font-weight:bold;
	color:#333;
	text-shadow:none;
}
.fundoCinzaCarrossel {
	background-color:#E4E4E4;
	float:left;
	opacity:0.7;
}
 @media (min-width: 1200px) {
	.carousel-caption,
	.carousel-caption2 {
		position: absolute;
		z-index: 10;
		padding: 170px 10px 0 10px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		height:100%;
		width:35%;
	}
	
	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
	.carousel-indicatorsLeft {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -56%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicatorsLeft li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicatorsLeft .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
}
 @media (min-width: 1024px) {
	.carousel-caption,
	.carousel-caption2 {
		position: absolute;
		z-index: 10;
		padding: 170px 10px 0 10px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		height:100%;
		width:35%;
	}

	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
	.carousel-indicatorsLeft {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -56%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicatorsLeft li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicatorsLeft .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
}

 @media (min-width: 768px) {
	.carousel-caption,
	.carousel-caption2 {
		position: absolute;
		z-index: 10;
		padding: 170px 10px 0 10px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		height:100%;
		width:35%;
		left: 0;
	}
	
	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
	.carousel-indicatorsLeft {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -56%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicatorsLeft li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicatorsLeft .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
}

@media (min-width:768px) {
	.carousel-caption {
		right: 0;
		left: 0;
	}
}



 @media (max-width: 767px) {
	.carousel-caption,
	.carousel-caption2 {
		position: absolute;
		right: 15%;
		bottom: 20px;
		left: 15%;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	}
	
	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
	.carousel-indicatorsLeft {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicatorsLeft li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: #999;
		border: 1px solid #999;
		border-radius: 10px;
	}
	.carousel-indicatorsLeft .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #666;
	}
}